@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Need help?</h1>
    <p class="lead">Use our simulator to pick your outfit</p>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <button type="button" class="btn btn-info btn-lg jumbo" onclick="location.href='@Url.Action("Index", "Tops")'">Tops &raquo;</button>
        </div>
        <div class="col-sm-3 col-md-3">
            <button type="button" class="btn btn-info btn-lg jumbo" onclick="location.href='@Url.Action("Index", "Bottoms")'">Bottoms &raquo;</button>
        </div>
        <div class="col-sm-3 col-md-3">
            <button type="button" class="btn btn-info btn-lg jumbo" onclick="location.href='@Url.Action("Index", "Shoes")'">Shoes &raquo;</button>
        </div>
        <div class="col-sm-3 col-md-3">
            <button type="button" class="btn btn-info btn-lg jumbo" onclick="location.href='@Url.Action("Index", "Accessories")'">Accessories &raquo;</button>
        </div>
    </div>
</div>

